@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I created this application to first and foremost see how far my technical skils reach.<br />
    The architecture of the application is something i am quite fond of you can find the code-behind on my github page. (can be found in contact page)</p>
<p>It is made specifically for my instructor since he needed an application to manage everything.<br />
    Since I had some extra time on hand I dove right in so he didn't have to use Excel!</p>
