@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "RUBEN SPILLEBEEN";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="https://github.com/rubenspbn">https://github.com/rubenspbn</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rubenspillebeen@gmail.com</a>
</address>